[submodule "src/games/tictactoe"]
	path = src/games/tictactoe
	url = https://github.com/justusdecker/TicTacToeInJavaScript.git
[submodule "src/tools/markdown-writer"]
	path = src/tools/markdown-writer
	url = https://github.com/justusdecker/MarkdownWriter.git
