.canvas {
    background-color: var(--text-color);
    color: var(--accent-color);
    border-radius: 10px;

    max-width: var(--content-width-max);
    margin: 1rem auto 2rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 1px solid #ff000050; 
}

.canvas *{
    color: var(--accent-color);
}