/* Tabellen im gesamten Markdown */
.markdown-body table {
  border-collapse: collapse;
  border-left: 4px #252525 solid;
}
.markdown-body th {
  background-color: #000000;
  font-weight: 600;
}
.markdown-body tbody tr:nth-child(even) {
  background-color: #252525;
}
.markdown-body tbody tr:nth-child(odd) {
  background-color: #121212;
}

.markdown-body td, .markdown-body th {
  border: 1px solid #484848; /* Hellgrauer, deutlicher Rahmen */
  padding: 8px 12px;
}


.markdown-body img {
    width: auto;
    height: fit-content;
    object-fit: contain;
    object-position: left center;
    transform-origin: left center;
    display: block;
    max-width: 100%;
    max-height: 500px;
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0);
}

.markdown-body img:not(dialog img):hover {
    position: relative;
    
    /* Deine Puls-Animation von vorhin */
    animation: border-pulse 1.5s infinite alternate;
}

@keyframes border-pulse {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
    50% {
        box-shadow: 0 0 15px rgba(0, 255, 196, 0.7);
    }
    100% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
}