.msgb-default {
    max-width: var(--content-width-max);
    margin: 1rem auto 2rem auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border: 1px solid #ff000050; 
    transition: var(--default-transition);
}

.msgb-inf { border-color: #00f7ff25; background: #00f7ff25; }

.msgb-inf:hover { border-color: #00f7ff50; background: #00f7ff50; }

.msgb-warn { border-color: #ffc40025; background: #ffc40025; }

.msgb-warn:hover { border-color: #ffc40050; background: #ffc40050; }

.msgb-err { border-color: #ff000025; background: #ff000025; }

.msgb-err:hover { border-color: #ff000050; background: #ff000050; }