:root {
    --text-color-normal: #ddd;
    --text-color-sidebar: #ccc;
    --bg-color-body: #252525;
    --bg-color-head-foot: #363636;
    --bg-color-sidebar: #484848;
}

* {
    font-family: monospace;
    color: var(--text-color-normal);
}
h1, h2, h3 {
    line-height: 0.5em;
}
h1 {
    font-size: 3em;
    
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.side-by-side {
    display: flex;
}

body {
    margin: 0;
    background-color: var(--bg-color-body);
}

#head {
    background-color: var(--bg-color-head-foot);
}

footer {
    height: 5em;
    background-color: var(--bg-color-head-foot);
}

#profile {
    width: 10em;
    height: 10em;
    padding: 1em;
}

.project-ico {
    width: 4em;
    height: 4em;
    padding: 1em;
}

.cdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

#sidebar {
    width: 25vw;
    min-width: 25vw;
    
    margin-left: auto;
    height: auto;
    border: 5px  #484848;
    border-style: none none none solid;
    
}

#main-content {
    width: 65vw;
}

#wrapper { 
    /* 
    Main Content on the left & sidebar on the right.
    Change flex-direction to row for "vice versa"
    */
    display: flex;
    flex-direction: row-reverse;
    padding-left: 4%;
}

.section-heading {
  display: flex;
  flex-direction: row;
}
.section-heading:before, .section-heading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.section-heading:before {
  margin-right: 10px
}
.section-heading:after {
  margin-left: 10px
}

.exp {
    background-color: #363636;
    width: 65vw - 1em; /* Removes the border overflow */
    padding: 0 0 2em 0;
    border-width: 1em;
    border-color: #969696;
    border-style: none none none solid;
    margin-bottom: 1em;
}
.exp:hover {
    border-width: 2em;
}