:root {
    --font: monospace;
    --normal-color: #242424;
    --title-color: white;
    --text-color: #d0d0d0;    
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    --accent-color: radial-gradient(circle at bottom, #242424, #484848);
}

* {
    color: var(--text-color);
    font-family: var(--font);
}

h1, h2, h3 {
    color: var(--title-color);
}

body {
    background: linear-gradient(90deg, #121212, #484848);
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    background: radial-gradient(circle at bottom, #242424, #484848);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile {
    height: 10em;
    padding: 1%;
}
#head {
    display: flex;
    width: 100%;
    background: radial-gradient(circle at 0%, #242424, #484848);
    box-shadow: var(--shadow);
}

#head * {
    text-shadow: var(--shadow);
}

.experience-container {
    background: var(--accent-color);
    box-shadow: var(--shadow);
    margin: 0 1em 1em 1em;
}

.experience-container * {
    margin: 1%;
}

.project-ico {
    width: 10%; 
    height: 10%;
    transition: 1s;
    box-shadow: var(--shadow);
}

.project-ico-align {
    display: flex;
    justify-content: flex-end;
}


.project-ico-align > p { width: fit-content; min-width: fit-content; font-size: large; text-align: right;}

.experience-container h1 {
    margin: 0;

    width: 100%;
    text-align: center;
    text-shadow: var(--shadow);
}

#main {
    display: flex;
}

#experience /* DEBUG border */ {
    height: fit-content;
    overflow: hidden;
}

#sidebar /* DEBUG border */ {

    width: 30%;
    min-width: 30%;
}

#sidebar h3 {
    margin: 1em;
}

.skill {
    margin: 0 1em 0 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
}

.skill span {
    background-color: #121212;
    padding: 1% 2% 1% 2%;
}

.skill-container {
    width: calc(100% - 2em);
    background-color: #121212;
    cursor: pointer;
    margin: 0 1em 1em 1em;
}

.skill-info {
    height: 0px;
    overflow: hidden;
    transition: 1s;
    margin-left:1em;
}

.sk-html { width: 100%; background-color: #E34C26; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-python { width: 100%; background-color: #3572A5; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-c { width: 5%; background-color: #555555; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-css { width: 55%; background-color: #563D7C; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-js { width: 20%; background-color: #F1E05A; color:#484848; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-kotlin { width: 10%; background-color: #F18E33; color:#484848; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-java { width: 10%; background-color: #B07219;  animation-name: sk-anim; animation-duration: 1.5s;}
.sk-batch { width: 100%; background-color: #C1F12E; color:#484848; animation-name: sk-anim; animation-duration: 1.5s;}
.sk-n { width: 100%; background-color: #d212c6; animation-name: sk-anim; animation-duration: 1.5s;}

#links {
    position: sticky;
    right: 0;
    bottom: 0;
    padding: 2%;
}

#links a {
    font-size: 20px;
    padding: 1%; 
    border-radius: 50%; 
    text-align: center; 
    transition: 0.3s;
}

#links a:hover {
    border-radius: 10px;
    background-color: #121212;
    box-shadow: var(--shadow);
}

#links i {width: 20px;}

.github {
  background: #3B5998;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}


.section-heading {
  display: flex;
  flex-direction: row;
  margin: 0 1% 1em 1%;
}
.section-heading:before, .section-heading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.section-heading:before {
  margin-right: 1%;
}
.section-heading:after {
  margin-left: 1%;
}
#introduction {
    display: block;
    padding: 1em;
}



@keyframes sk-anim {
  from {width: 0%} 
}

@media screen and (width < 900px) {
    #main { display: flex; flex-direction: column-reverse;}
    #sidebar {width: fit-content;}
}