:root {
    --text-color-normal: #ddd;
    --text-color-sidebar: #ccc;
    --bg-color-body: #252525;
    --bg-color-head-foot: #363636;
    --bg-color-sidebar: #484848;
}

* {
    font-family: monospace;
    color: var(--text-color-normal);
}
h1, h2, h3 {
    line-height: 0.5em;
}
h1 {
    font-size: 3em;
    
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.side-by-side {
    display: flex;
}

body {
    margin: 0;
    background-color: var(--bg-color-body);
}

#head {
    background-color: var(--bg-color-head-foot);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
    height: 5em;
    background-color: var(--bg-color-head-foot);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#profile {
    width: 10em;
    height: 10em;
    padding: 1em;
}

.project-ico {
    width: 4em;
    height: 4em;
    padding: 1em;
}

.cdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
}

#sidebar {
    width: 25vw;
    min-width: 25vw;
    
    margin-left: auto;
    height: auto;
    border: 5px  #484848;
    border-style: none none none solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#main-content {
    width: 65vw;
}

#wrapper { 
    /* 
    Main Content on the left & sidebar on the right.
    Change flex-direction to row for "vice versa"
    */
    display: flex;
    flex-direction: row-reverse;
    padding-left: 4%;
}

.section-heading {
  display: flex;
  flex-direction: row;
}
.section-heading:before, .section-heading:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.section-heading:before {
  margin-right: 10px
}
.section-heading:after {
  margin-left: 10px
}

.exp {
    background-color: #363636;
    width: 65vw - 1em; /* Removes the border overflow */
    padding: 0 0 2em 0;
    border-width: 1em;
    border-color: #969696;
    border-style: none none none solid;
    margin-bottom: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.exp:hover {
    border-width: 2em;
}

#sidebar-spacing {
    margin: 0 1em 0 1em;
}

.skill-container {
    width: 100%;
    background-color: #121212;
    margin-bottom: 1em;
}
/* Skillbar fillings 
TODO: Animate this later
*/
.sk-html { width: 100%; background-color: #E34C26;}
.sk-python { width: 100%; background-color: #3572A5;}
.sk-c { width: 5%; background-color: #555555;}
.sk-css { width: 55%; background-color: #563D7C;}
.sk-js { width: 20%; background-color: #F1E05A; color:#484848;}
.sk-kotlin { width: 10%; background-color: #F18E33; color:#484848;}
.sk-java { width: 10%; background-color: #B07219; }
.sk-batch { width: 100%; background-color: #C1F12E; color:#484848;}
.sk-n { width: 100%; background-color: #d212c6;}

#head-img {
    position: absolute;
    object-fit: cover;

}

.skill {
    display: flex;
    flex-wrap: wrap;
}

.skill * {
    background-color: #3572A5;
    text-align: center;
    border-radius: 10px;
    padding: 0.05em 0.25em 0.05em 0.25em;
    margin-right: 0.5em;
    line-height: 2em;
    margin-bottom: 0.05em;
}

.skill *:nth-child(even) { background-color: #121212; }
.skill *:nth-child(odd) { background-color: #181818; }

.ralign {
    margin-left: 100vw;
    margin-right: 0;
}

.project-img {
    margin-left: 3em;
    width: 20em;
}

.interest-spacer {
    justify-content: space-between;
}

.interest-inner-box {
    padding: 1em
}

.interest-img {
    width: 25%;
    /* Image size must be equ everytime */
    
}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}