#root {
  margin: 0;
  padding: 0;
}

:root {
    --background-color: #242424;
    --accent-color: rgb(195, 0, 42);
    --title-color: white;
    --text-color: #d0d0d0;    
    --shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    
}

* {
    color: var(--text-color);
}

h1, h2, h3 {
    color: var(--title-color);
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color); 
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}
