.experience { gap: 0.5rem; }
.experience span {
    display: flex;
    flex-direction: row;
}

.experience span.right-rot {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

#new-font-size {
    font-size: 8rem;
}

.splitline-vertical {
    margin: 0.5rem;
    min-width: 0.25rem;
    background-color: #00f7ff25;
}